@model Web.Areas.Articles.Controllers.DetailPartialModel




<div id="WorkDetailPartial">
    @if (@Model == null)
    { 
        <p id="WorkDetailPartial-load" class="hand ">  click to get load Data </p>  
    }
    else
    { 
        <table >
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>@Model.Title</td>
            </tr>
            <tr>
                <td>Url</td>
                <td>@Model.Url</td>
            </tr>
            <tr>
                <td>Lock</td>
                <td>@Model.Lock</td>
            </tr>
            <tr>
                <td>Url</td>
                <td>@Model.Url</td>
            </tr>
            <tr>
                <td>LockedBy</td>
                <td>@Model.LockedBy</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <td>AssignedTo</td>
                <td>@Model.AssignedTo</td>
            </tr>
        </table>
    }
</div>


 